@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:  'Open Sans', sans-serif, 'Poppins', sans-serif, 'Source Serif Pro', serif, 'Playfair Display', serif;
	text-align: center;
	line-height: 1.5;
	font-size: 18px;
	color: #203239;
	background-color: #effffd;
}

.main-nav .name {
	font-size: 1.75rem;
	font-weight: 702;
	padding: 1.29rem 0px;
  text-transform: uppercase;
}

.main-nav .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

ul {
  list-style-type: none;
}

.main-nav ul a {
	text-decoration: none;
	font-weight: 702;
	text-transform: uppercase;
	padding: 3px 0px;
	font-size: 16px;
	color: rgb(6, 76, 90);
}

.main-nav li {
	margin: 6px;
	padding: 10px 10px;
}

.nav {
	margin-bottom: 55px;
}

.header img {
	max-width: 65%;
	height: auto;
	margin-bottom: 25px;
}

.header-img p {
  background-color: aqua;
  padding: 0.5rem 0;
  border-radius: 5%;
  margin: 1rem;
}

.header-img img{
  border: 3px solid white;
  background-color: rgb(235, 228, 228);
  border-radius: 5%;
}

.header .container {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 0 1.5rem;
}